@font-face {
    font-family: 'agencyfb-boldbold';
    src: url('agencyfb-bold-webfont.woff2') format('woff2'),
         url('agencyfb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'agencyfb-regularregular';
    src: url('agencyfb-regular-webfont.woff2') format('woff2'),
         url('agencyfb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, td, select, .jvectormap-label, .adwordsReportTypesTooltip{
    font-family: agencyfb-regularregular, sans-serif;
}

button, span.button, input[type="button"] {
    font-family: agencyfb-regularregular, sans-serif;
}

.cx-table th, .cx-table td {
    background-color: transparent !important;
}
